//- @pugdoc
    name: account.pug - User Account/Login Template
    description: This Pug template defines the layout and content for the user account and login page.
                 It extends the 'layout.pug' template and provides a form for user login.
                 The comments below explain the structure and purpose of each section.
    capture: all

//- Extending the layout template
extends layout.pug

//- Define the 'content' block for this template
block content
    body
        //- Container for the login form
        .container.my-5
            //- Card styling for the login form
            .card.col-lg-5.col-md-8.col-sm-12.mx-auto.rounded.log.cardopacity
                //- Card header with the title "Sign in"
                .card-header
                    h1.card-title.text-black
                        b Sign in
                    //- Login form with action and method attributes
                    form.form(action="/account", method="post")
                        //- Container for form inputs
                        .container.row.justify-content-around
                            //- Username input field
                            .row
                                .col-lg-12.col-md-12.col-sm-12
                                    label.text-black(for="username")
                                        b Username
                                    input(type="text" name="username").rounded.forminput.bg-danger.bg-gradient
                            //- Password input field
                            .row
                                .col-lg-12.col-md-12.col-sm-12
                                    label.text-black(for="password")
                                        b Password
                                    input(type="password" name="password").rounded.forminput.bg-danger.bg-gradient
                            //- Submit button
                            .row
                                .col-lg-12.col-md-12.col-sm-12.my-2.text-center
                                    button.btn.btn-outline-primary.text-black.btn-lg(type="submit")
                                        b Sign in
                                    //- Display a message if available
                                    if message
                                        p #{message}
                            //- "Nevermind" button
                            .row
                                .col-lg-12.col-md-12.col-sm-12.my-2.text-center
                                    a.btn.btn-outline-danger.btn-lg(href='/')
                                        b Nevermind
                            //- Account creation message and link
                            .row
                                .col-lg-12.col-md-12.col-sm-12.my-2.text-center
                                    span.text-black.accttext.mx-auto
                                        b Don't have an account yet?
                                    .col-lg-12.col-md-12.col-sm-12.my-2.text-center
                                        a.btn.btn-outline-primary.btn-md.text-black.btn-lg(href='/signup')
                                            b Sign up Here!
                                    p
