extends layout.pug
mixin getProductInfo(product)
    ul
        each product in products
            li

block content
    body
        header
            h2.text-center
                b Your Cart
            hr
        .container.rounded
                .row
                    .col-12
                        form.form(action='/cart', method='GET')
                            ul
                                .container#cart.justify-content-center.rounded
                                    .row.lg-3
                                        .col-lg-3


                                    .col-6
                                    br
                                    hr

                                script.
                                    cartProducts()


