extends layout.pug

block content
    body
        .container.rounded.text-center
            ul#producttable.text-center.text-black.justify-content-center



                script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
                script.
                    loadProducts();
                    sideBarGen();
                    searchItems();
                    window.onload = function() {
                        var searchBar = document.getElementById('searchform');
                        searchBar.onfocus = function() {
                            this.value = '';
                        };
                    };

                    jQuery(document).ready(function() {
                            jQuery('img.center-img.thumbnails').nailthumb({width:335,height:185, method:'resize'});
                    });




