mixin 

doctype html
html
    head
    
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/jquery.nailthumb.1.1.js")
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/jquery.nailthumb.1.1.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous")
        script(src="/mainpage.js")
        title= title

    body
        if show_login
            if user
                span
                    ul.navbar.navbar-expand-sm.bars
                        form(role="search")
                            input.form-control.me-2(type="search", placeholder="Search", aria-label="Search")
                        button.btn.btn-outline-success.mx-1(type="submit") Search
                        .col.justify-content-end.text-end
                            span.text-white.mx-2 
                                b   Logged in as #{user.username}
                            a.btn.btn-outline-danger.btn-md.mx-2(href='/logout') Logout
                            a.btn.btn-sm(href='/cart')
                                img(src="https://www.dropbox.com/s/ywasy8lwkk2pldb/thenounproject.png?dl=1", alt="Cart", style="width: 35px; height: 35px;")

            else
                ul.navbar.navbar-expand-sm.bars
                    form(role="search")
                        input.form-control.me-2(type="search", placeholder="Search", aria-label="Search")
                    button.btn.btn-outline-success.mx-1(type="submit") Search
                    .col.justify-content-end.text-end
                        a.btn.btn-md.mx-1(href='/account')
                            img(src="https://www.dropbox.com/s/160nat60id0a9ar/Account.jpg?dl=1", alt="Account login", style="width: 35px; height: 35px;")
                        a.btn.btn-md(href='/cart')
                            img(src="https://www.dropbox.com/s/ywasy8lwkk2pldb/thenounproject.png?dl=1", alt="Cart", style="width: 35px; height: 35px;")



        if at_Home
            .container
                .row.justify-content-center
                    .col-12.col-md-12.col-lg-12.col-sm-12.text-center.text-md-end
                        ul.nav.flex-row.justify-content-center
                            li.nav-item
                                h3.dropdown-spacing
                                    a.nav-link.text-black(type="button", href="/AllProducts")  
                                            b All Products 
                                h3.dropdown-spacing
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false")
                                        b Shoes
                                    ul.dropdown-menu
                                        li.dropdown-item
                                        a.dropdown-item(href="/Footwear/jordan")
                                            b Jordan
                                        li
                                        a.dropdown-item(href="/Footwear/nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Footwear/yeezy") 
                                            b Yeezy
                                h3.dropdown-spacing
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false")    
                                            b Clothing 
                                    ul.dropdown-menu(id="Clothing")
                                        li
                                        a.dropdown-item(href="/Clothing/Supreme")
                                            b Supreme
                                        li
                                        a.dropdown-item(href="/Clothing/Nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Clothing/Sp5der") 
                                            b Sp5der
                                h3.dropdown-spacing 
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false")  
                                        b Accessories 
                                    ul.dropdown-menu(id="Accessories")
                                        li
                                        a.dropdown-item(href="/Accessories/Supreme")
                                            b Supreme
                                        li
                                        a.dropdown-item(href="/Accessories/Nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Accessories/Other") 
                                            b Other
        else 
            .container
                .row
                    .col-1.text-center
                        ul.nav.justify-content-center.d-flex
                            li.nav-item.dropdown.col-1
                                h3.home-spacing
                                    a.nav-link.active.text-black(href="/")  
                                        b Home
                    .col-12.col-md-10.col-lg-11.col-sm-10.text-center
                        ul.nav.justify-content-center 
                            li.nav-item
                                h3.dropdown-spacing.col-3.homepad
                                    a.nav-link.text-black(type="button", href="/AllProducts")  
                                        b All Products 
                                h3.dropdown-spacing.col-2
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false") 
                                        b Shoes 
                                    ul.dropdown-menu
                                        li
                                        a.dropdown-item(href="/Footwear/Jordan")
                                            b Jordan
                                        li
                                        a.dropdown-item(href="/Footwear/Nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Footwear/Yeezy") 
                                            b Yeezy
                                        li
                                h3.dropdown-spacing.col-3
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false")
                                        b Clothing
                                    ul.dropdown-menu(id="Clothing")
                                        li
                                        a.dropdown-item(href="/Clothing/Supreme")
                                            b Supreme
                                        li
                                        a.dropdown-item(href="/Clothing/Nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Clothing/Sp5der") 
                                            b Sp5der
                                        li
                                h3.dropdown-spacing.col-1
                                    a.nav-link.text-black(data-bs-toggle="dropdown", role="button", aria-expanded="false") 
                                        b Accessories
                                    ul.dropdown-menu(id="Accessories")
                                        li
                                        a.dropdown-item(href="/Accessories/Supreme")
                                            b Supreme
                                        li
                                        a.dropdown-item(href="/Accessories/Nike") 
                                            b Nike
                                        li
                                        a.dropdown-item(href="/Accessories/Other") 
                                            b Other
                                        li

        if showSidebar
            .container.rounded
                .row
                    .col-lg-12
                        aside.sidebar.row
                            .col-lg-12
                                .offcanvas-lg.offcanvas-start#bdSidebar(aria-labelledby="bdSidebarOffcanvasLabel")
                                    .accordion
                                        .accordion-item
                                            h5.accordion-header#headingOne
                                                button.accordion-button.text-black(data-bs-parent="accordian", type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne.accordion-collapse.collapse", aria-expanded="false", aria-controls="#collapseOne.accordion-collapse.collapse")
                                                    b Gender
                                            #collapseOne.accordion-collapse.collapse.show(aria-labelledby="headingOne")
                                                .accordion-body#gender

                                    .accordion
                                        .accordion-item
                                            h5.accordion-header#headingTwo
                                                button.accordion-button.text-black(data-bs-parent="accordian", type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo.accordion-collapse.collapse", aria-expanded="false", aria-controls="#collapseTwo.accordion-collapse.collapse")
                                                    b Brand
                                            #collapseTwo.accordion-collapse.collapse.show(aria-labelledby="headingTwo")
                                                .accordion-body#brand


                                    .accordion
                                        .accordion-item
                                            h5.accordion-header#headingThree
                                                button.accordion-button.text-black(data-bs-parent="accordian", type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree.accordion-collapse.collapse", aria-expanded="false", aria-controls="#collapseThree.accordion-collapse.collapse")
                                                    b Size
                                            #collapseThree.accordion-collapse.collapse.show(aria-labelledby="headingThree")
                                                .accordion-body#sizes

                                    .accordion
                                        .accordion-item
                                            h5.accordion-header#headingFour
                                                button.accordion-button.text-black(data-bs-parent="accordian", type="button", data-bs-toggle="collapse", data-bs-target="#collapseFour.accordion-collapse.collapse", aria-expanded="false", aria-controls="#collapseThree.accordion-collapse.collapse")
                                                    b Price
                                            #collapseFour.accordion-collapse.collapse.show(aria-labelledby="headingFour")
                                                .accordion-body#price

        block content
